.cs-gmail .Am.Al.editable.LW-avf {
    font-family: monospace !important;
    font-size: 80% !important;
}

.cs-gmail .ii.gt.adP {
    font-family: monospace;
    font-size: 100%;
}

.cs-twitter body {
    font-family: sans-serif !important;
}
