html, body, .root, #css, #js {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.root {
    display: table;
    table-layout: fixed;
    border-spacing: 1.5em;
}

.wrapper {
    display: table-row;
}

.left, .right {
    display: table-cell;
    width: 100%;
}

#css, #js {
    resize: none;
    padding: .3em;
    box-sizing: border-box;
}
